*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: auto; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-right-small {
  margin-right: 2rem !important; }

.u-margin-top-smedium {
  margin-top: 2.5rem !important; }

.u-margin-bottom-smedium {
  margin-bottom: 2.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-xl {
  margin-top: 10rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 10rem !important; }

.u-letterspacing-small {
  letter-spacing: .75px !important; }

.u-letterspacing-medium {
  letter-spacing: 1px !important; }

.u-letterspacing-large {
  letter-spacing: 2px !important; }

.u-uppercase {
  text-transform: uppercase !important; }

.u-center-text {
  text-align: center !important; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #9194a1;
  font-size: 1.8rem; }

.heading-primary {
  font-size: 4.8rem;
  font-weight: 500;
  color: #202a45;
  line-height: 1.2; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 500;
  color: #000; }

.paragraph {
  font-size: 1.8rem;
  line-height: 1.5; }
  .paragraph--h2 {
    max-width: 54rem; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  font-size: 1.35rem;
  text-decoration: none;
  border-radius: .5rem;
  box-shadow: 0px 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
  font-weight: 500;
  display: inline-block; }

.btn--blue {
  background-color: #5368df;
  color: #f1ffff; }

.btn--red {
  background-color: #fa5757;
  color: #ffedec; }

.btn--grey {
  background-color: #f7f7f7;
  color: #616064; }

.btn--longer {
  padding: 1.2rem 3rem; }

.btn--taller {
  padding: 1.4rem 2rem; }

.decorative-image {
  position: relative;
  z-index: 1;
  padding-right: 5rem; }
  .decorative-image__image {
    position: relative;
    width: 100%; }
  .decorative-image__decoration-box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 74%;
    height: 70%; }
  .decorative-image__decoration-circle-container {
    height: 100%;
    width: 62.875%; }
  .decorative-image__decoration-circle {
    background-color: #5368df;
    clip-path: circle(50% at 50% 50%);
    height: 100%; }
  .decorative-image__decoration-rectangle {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #5368df;
    height: 100%;
    width: 68.4912%; }

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 17rem;
  padding-right: 17rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-right: 0; }
  .header::before {
    content: "";
    background-color: #5368df;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 50%;
    z-index: -1; }
  .header__text-box {
    max-width: 50rem;
    transform: translateY(-2rem); }

.background-container {
  position: relative; }
  .background-container--clear {
    background-color: transparent; }
  .background-container--white {
    background-color: #fff; }
  .background-container--blue {
    background-color: #5368df; }
  .background-container--dark-blue {
    background-color: #252b46; }

.navigation {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 17rem;
  padding-right: 17rem;
  display: flex;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .navigation--top {
    justify-content: space-between;
    margin-bottom: 6rem; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
  .navigation__link {
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #252b46; }

.section-features {
  display: flex;
  justify-content: center; }

.section-download {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3; }

.section-faq {
  display: flex;
  justify-content: center; }
