*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: auto; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #9194a1;
  font-size: 1.8rem; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  font-size: 1.35rem;
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: .5rem;
  box-shadow: 0px 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
  font-weight: 500; }

.btn--blue {
  background-color: #5368df;
  color: rgba(255, 237, 236, 0.9); }

.btn--red {
  background-color: #fa5757;
  color: rgba(255, 237, 236, 0.9); }

.btn--grey {
  background-color: #9194a1;
  color: black; }

.btn--uppercase {
  letter-spacing: 2px;
  text-transform: uppercase; }

.navigation {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 17rem;
  padding-right: 17rem;
  display: flex;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .navigation--top {
    justify-content: space-between; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
  .navigation__link {
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #252b46; }

.background-container--clear {
  background-color: transparent; }

.background-container--blue {
  background-color: #5368df; }

.background-container--dark-blue {
  background-color: #252b46; }
