@mixin max-width-content {
  max-width: 1440px; //change to em?
  margin: 0 auto;
  padding-left: 17rem;
  padding-right: 17rem;

  @media only screen and (max-width: $bp-smd) {
      padding-left: 4rem;
      padding-right: 4rem;
   }
}