//Primary
$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);

//Neutral
$greyish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$pinkish-white: rgba(255, 237, 236, 1);
$blueish-white: rgba(241, 255, 255, 1);
$light-grey: rgba(247, 247, 247, 1);
$dark-grey: rgba(97, 96, 100, 1);
$color-black: rgba(32, 42, 69, 1);
$color-white: #fff;

//Font
$default-font-size: 1.8rem;

// MEDIA BREAKPOINTS
$bp-xl: 81.25em;     // 1300px
$bp-lg: 75em;        // 1200px
$bp-md: 68.75em;       // 1100px
$bp-smd: 59.375em;      // 950px
$bp-sm: 31.25em;       // 500px
$bp-xs: 25em;        // 400px
$bp-xxs: 21.875em;   // 350px


