//Primary
$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);

//Neutral
$greyish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$pinkish-white: rgba(255, 237, 236, 1);
$blueish-white: rgba(241, 255, 255, 1);
$light-grey: rgba(247, 247, 247, 1);
$dark-gray: rgba(97, 96, 100, 1);
$color-black: rgba(32, 42, 69, 1);

//Font
$default-font-size: 1.8rem; 

