.header {
  @include max-width-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  padding-right: 0;

  &::before {
    content: "";
    background-color: $primary-soft-blue;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 50%;
    z-index: -1;
  }
    
  
  &__text-box {
    max-width: 50rem;
    transform: translateY(-2rem);
  }
}










