.header {
  @include max-width-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  // background-color: lightblue;
  padding-right: 0;

  border: 1px solid green;
  
  &__text-box {
    max-width: 50rem;
    border: 1px solid blue;
  }

  &__paragraph {

  }

  &__image-box {
    position: relative;
    z-index: 1;
    padding-right: 5rem;

    border: 1px solid orange;

  }

  &__image {
    position: relative;
    width: 100%;
  }

  &__decoration-box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 70%;
    height: 66%;

    border: 1px solid red;
  }

  &__decoration-circle-container {
    height: 100%;
    width: 62.813959%; //parent container height / width
  }

  &__decoration-circle {     
    background-color: $primary-soft-blue;
    clip-path: circle(50% at 50% 50%);
    height: 100%;
  }

  &__decoration-rectangle {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $primary-soft-blue;
    height: 100%;
    width: 66.3%;
    transform: translateX(-.4rem);
  }
}

