.header {
   max-width: 1440px; //change to em?
   margin: 0 auto;


  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;


  

  &::before {
    content: "";
    background-color: $primary-soft-blue;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75%;
    width: 50%;
    z-index: -1;

  }
    
  
  &__text-box {
    max-width: 70rem;
    transform: translateY(-2rem);
    padding-left: 17rem;

      @media only screen and (max-width: $bp-smd) {
         display: flex;
         padding-left: 4rem;
         padding-right: 4rem;
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-top: 10rem;
      }
  }

  @media only screen and (max-width: $bp-smd) {
   flex-direction: column-reverse;
   
   }
}










