.background-container {
  position: relative;

  &--clear {
    background-color: transparent;
  }

  
  &--white {
    background-color: $color-white;
  }

  &--blue {
    background-color: $primary-soft-blue;
  }
  
  &--dark-blue {
    background-color: $very-dark-blue;
  }
}