.navigation {
  @include max-width-content;
  display: flex;
  align-items: center;


  &--top {
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
    color: $color-black;

  }  

  &--bottom {
    justify-content: flex-start;
    align-items: center;
    color: $color-white;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }  

  &__logo-box {
    
  }

  &__logo-image {
    margin-right: 6rem;
    transform: translateY(.2rem);
  }

  &__list {

  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-md) {
         margin-right: 2rem;
      }
    }
  }

  &__link {
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: color .2s ease;

    &:hover {
       color: $primary-soft-red;
    }
  }

  &__social-list {
    margin-left: auto;
  }

  &__social-icon {
     &:hover {
        & path {
         fill: $primary-soft-red;
        }
     }
  }
}//End .navigation




