.browser-card {
   box-shadow: 0rem .6rem 1.5rem rgba(0, 0, 0, .3);
   border-radius: 2rem;
   height: 38rem;

   display: flex;
   flex-direction: column;

   @media only screen and (max-width: $bp-xl) {
      height: 40rem;
   }

   @media only screen and (max-width: $bp-md) {
      height: 47rem;
   }

   &:not(:last-child) {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-smd) {
         margin-right: 0;
      }
   }

   &--up {
      transform: translateY(-4rem);
   }

   &--down {
      transform: translateY(4rem);
   }

   &__top-box {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }

   // &__image-box {

   // }

   // &__image {

   // }

   // &__text-box {

   // }

   &__text {
      font-size: 1.5rem;
   }

   // &__dots-box {

   // }

   // &__dots {

   // }

   &__btn-box {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
   }
}
