.btn {
  
  &,  
  &:link,
  &:visited {
    font-family: inherit;
    font-size: 1.35rem;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 0px .4rem .7rem rgba(0, 0, 0, 0.2);
    font-weight: 500;
    display: inline-block;
  }

  &--blue {
    background-color: $primary-soft-blue;
    color: $blueish-white;
  }

  &--red {
      background-color: $primary-soft-red;
      color: $pinkish-white;
  }

  &--grey {
    background-color: $light-grey;
    color: $dark-grey;
  }

  &--longer {
    padding: 1.2rem 3rem;
  }

  &--taller {
    padding: 1.4rem 2rem;
  }
  
  &--longer-and-taller {
    padding: 1.4rem 3rem;
    letter-spacing: .5px;
  }
} //End .btn