.decorative-image {
   position: relative;
   z-index: 1;
   padding-right: 5rem;
 
   &__image {
      position: relative;
      width: 100%;
   }

   &__decoration-box {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 74%;
      height: 70%;
      background-color: $primary-soft-blue;
      border-top-left-radius: 200px;
      border-bottom-left-radius: 200px;
   }
}