.u-letterspacing-small { letter-spacing: .75px !important; }
.u-letterspacing-medium { letter-spacing: 1px !important; }
.u-letterspacing-large { letter-spacing: 2px !important; }

.u-uppercase { text-transform: uppercase !important; }