// Margin
.u-margin-top-small { margin-top: 2rem !important; }
.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-right-small { margin-right: 2rem !important; }

.u-margin-top-smedium { margin-top: 2.5rem !important; }
.u-margin-bottom-smedium { margin-bottom: 2.5rem !important; }

.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }

.u-margin-top-big { margin-top: 6rem !important; }
.u-margin-bottom-big { margin-bottom: 6rem !important; }

.u-margin-top-xl { margin-top: 10rem !important;}
.u-margin-bottom-xl { margin-bottom: 10rem !important;}

// Font & text related
.u-letterspacing-small { letter-spacing: .75px !important; }
.u-letterspacing-medium { letter-spacing: 1px !important; }
.u-letterspacing-large { letter-spacing: 2px !important; }

.u-uppercase { text-transform: uppercase !important; }

.u-center-text { text-align: center !important;}

// Positioning
// .u-center-horiz-margin {
//    margin-right: auto !important;
//    margin-left: auto !important;
// }
