.section-features {
   display: flex;
   justify-content: center;



   
}



.section-download {
   @include max-width-content;
   padding: 0;

   &__browser-cards {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 92rem;
   }
}



.section-faq {
   display: flex;
   justify-content: center;



}