.section-features-top {
   max-width: 1440px; //change to em?
   margin: 0 auto;

   &__menu-box {
      display: flex;
      justify-content: center;
      max-width: 74rem;
      margin: 0 auto;
   }

}

.section-features-bottom {
   max-width: 1100px; //change to em?
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $color-white;

   &::before {
      content: "";
      background-color: $primary-soft-blue;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70%;
      width: 50%;
      z-index: -1;
    }

   &__text-box {
      max-width: 45rem;
      transform: translateY(-4.5rem);
   }
}


.section-download {
   @include max-width-content;
   padding: 0;

   &__browser-cards {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 92rem;
   }
}



.section-faq {
   display: flex;
   justify-content: center;



}


.section-subscribe {
   @include max-width-content;
   padding-top: 7rem;
   padding-bottom: 7rem;
   color: $color-white;
   text-align: center;

   &__stat {
      text-transform: uppercase;
      letter-spacing: .5rem;
      font-size: 1.2rem;
      font-weight: 400;

      & + h2 {
         max-width: 42rem;
         margin: 0 auto;
      }
   }//End __stat
}