.section-features {
   display: flex;
   justify-content: center;



   
}



.section-download {
   @include max-width-content;
   padding: 0;

   &__browser-cards {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 92rem;
   }
}



.section-faq {
   display: flex;
   justify-content: center;



}


.section-subscribe {
   @include max-width-content;
   padding-top: 6rem;
   padding-bottom: 6rem;
   color: $color-white;
   text-align: center;
}

.subscribe__stat {
   text-transform: uppercase;
   letter-spacing: .5rem;
   font-size: 1.2rem;
   font-weight: 400;
}

.subscribe__stat + h2 {
   max-width: 42rem;
   margin: 0 auto;
}

.subscribe-form {

}